*{
    margin: 0;
    padding: 0;
}

.App{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

header{
    font-size: 3rem;
}

main{
    width: 25rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

input{
    width: 25rem;
    height: 2rem;
}

#check{
    width: 2rem;
}

#tickBox{
    width: 100%;
    display: flex;
    gap: 1rem;
}

#signUpBtn{
    width: 4rem;
}

#signUpDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}